.dimsumitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5vw;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    font-size: 1vw;
    margin-bottom: 1vw;
}

.m {
    margin-right: 1vw;
    background-color: wheat;
    border-radius: 0.5vw;
    padding: 0.2vw;
}

.t {
    background-color: seashell;
    border-radius: 0.5vw;
    padding: 0.2vw;
}

img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 5%;
}

h3 {
    font-size: 1vw;
    font-weight: 400;
}