.App {
  text-align: center;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#grid-container {
  display: grid;
  grid-template-columns:65% 35%;
}


#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/*dimsum item display */

.dimsumItem {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 3vw;
  align-items: center;
  padding: 2%;
  border: 0.5vw solid gold;
  border-radius: 5%;
}

#btn-addtoCart {
  width: max-content;
  height: 2vw;
  border-radius: 0.5vw;
  border-color: white;
  font-size: 0.8vw;
  font-weight: 300;
  background-color: orange;
  color: white
}

#btn-addtoCart:visited {
  background-color: orange;
}

#btn-addtoCart:hover {
  background-color: white;
  color: orange
}

#btn-addtoCart:active {
  background-color: gold;
  color: white;
}


/* radio select group */
.MuiFormControl-root {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
}

/* radio select title */
.MuiFormLabel-root {
  margin-right: 3.5vw;
  color: rgba(0, 0, 0,1) !important;
  font-size: 1.5vw !important;
}

/* radio select body */
.MuiFormGroup-root {
  color:rgba(0, 0, 0, 0.6);
}
.MuiTypography-root {
  font-size: 1.5vw !important;
  font-weight: 400 !important;
}

/* radio select check radio */
.MuiButtonBase-root {
  padding: 0.5vw !important;
}
.MuiRadio-root.Mui-checked {
  color: orange !important;
}

/* slider */
#pricesliderdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 400 t;
}

.MuiSlider-root {
  color:orange !important;
  margin-left: 2.5vw;
  padding: 0 !important;
  margin-bottom: 0.5vw !important;
}

.MuiBox-root {
  width: 40vw !important;
  height: max-content !important;
}

/* other title components */
.filter {
  height: 3vw;
}

#filter-container {
  width: max-content
}

#title-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw;
}

.title-button {
  font-size: 1.5vw;
  margin: 0 1vw;
  padding: 1vw 2vw;
  border-radius: 1vw;
  border-color: white;
  background-color: orange;
  color: white;
}

.title-button:visited {
  background-color: orange;
}

.title-button:hover {
  background-color: white;
  color: orange
}

.title-button:active {
  background-color: gold;
  color: white;
}

/* Cart Components */
#cart {
  width:100%;
}

h2 {
  font-size: 3vw;
}
.subtitle {
  font-size: 2vw;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vw;
  font-size: 1.3vw;
  flex-wrap: wrap;
}
